<div class="hidden-sm col-md-2" role="complementary">
  <div class="sideaffix">
    {%- unless disableContribution -%}
    <div class="contribution">
      <ul class="nav">
        {%- if page.original_content_git_url -%}
        <li>
          <a href="{{page.original_content_git_url}}" class="contribution-link">
            <img class="svg" src="/svg/edit.svg">
            <span>Edit this doc</span>
          </a>
        </li>
        {%- endif -%}
      </ul>
    </div>
    {%- endunless -%}
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="affix">
    </nav>
  </div>
</div>
