<div class="sideaffix sticky-top">
  {%- unless disableContribution -%}
  <div class="contribution">
    <ul class="nav">
      <li>
        <a id="switch-theme" class="contribution-link">
          <span class="glyphicon glyphicon-cog"></span>Theme
        </a>
      </li>
      {%- if page.original_content_git_url -%}
      <li>
        <a href="{{page.original_content_git_url}}" class="contribution-link">
          <span class="glyphicon glyphicon-pencil"></span>Edit this doc
        </a>
      </li>
      {%- endif -%}
    </ul>
  </div>
  {%- endunless -%}
  <nav id="in-this-article" class="in-this-article">
  </nav>
</div>