<nav id="autocollapse" class="navbar navbar-inverse ng-scope" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ page._rel }}">
        {%- if page._appLogoPath -%}
        <img class="svg" src="{{ page._rel }}{{page._appLogoPath}}">
        {%- else -%}
        <img class="svg" src="{{ page._rel }}svg/logo.svg">
        {%- endif -%}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
    </div>
  </div>
</nav>
