<a class="navbar-brand" href="/">
  {%- if page._appLogoPath -%}
  <img id="logo" class="svg" src="/{{page._appLogoPath}}">
  {%- else -%}
  <img id="logo" class="svg" src="/svg/logo.svg">
  {%- endif -%}
</a>
