<a class="navbar-brand" href="/">
  {%- if page._appLogoPath -%}
  <img id="logo" class="svg" src="{{ page._rel }}{{page._appLogoPath}}">
  {%- else -%}
  <img id="logo" class="svg" src="{{ page._rel }}svg/logo.svg">
  {%- endif -%}
</a>
