<div class="sidenav hide-when-search">
  <a class="btn toc-toggle collapse" data-toggle="collapse" href="#sidetoggle" aria-expanded="false" aria-controls="sidetoggle">Show / Hide Table of Contents</a>
  <div class="sidetoggle collapse" id="sidetoggle">
    <div id="sidetoc">
      <div id="sidetoggle">
        <div>
          <div class="sidefilter">
            <form class="toc-filter">
              <span class="glyphicon glyphicon-search filter-icon"></span>
              <input type="text" id="toc-filter" placeholder="Filter">
            </form>
          </div>
          <div class="sidetoc">
            <div class="toc" id="toc">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
