<div class="sticky-top navbar navbar-expand-md navbar-light bg-white">
  <a class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#toc-pannel" aria-controls="toc-pannel" aria-expanded="false">
    Table of Contents
  </a>
  <div class="collapse navbar-collapse" id="toc-pannel">
    <div>
      <input class="form-control" type="text" id="toc-filter" placeholder="Filter">
      <div class="toc" id="toc"></div>
    </div>
  </div>
</div>
