<h1>{{{title}}}</h1>

{{>partials/reference-metadata}}


{{>partials/dotnet/typeHeader}}
{{>partials/dotnet/monikerBoilerplate}}
{{>partials/dotnet/deprecated}}
{{>partials/dotnet/summary}}
{{>partials/docOutline}}

{{>partials/dotnet/syntax}}
{{>partials/dotnet/inheritance}}
{{>partials/dotnet/attribute}}
{{>partials/dotnet/uwpProperties}}
{{>partials/dotnet/additionalRequirements}}

{{#fieldsInfo}}
	<h2 id="{{htmlId}}">{{__global.fieldsInSubtitle}}</h2>
	<table class="nameValue cols3">
		{{#fields}}
			<tr {{^isInAllMonikers}}
					data-moniker="{{#monikers}} {{.}}{{/monikers}} "
				{{/isInAllMonikers}}>
				<td id="{{htmlId}}">
					{{#name}}
						{{name}}
					{{/name}}
				</td>
			<td>{{literalValue}}</td>
			<td>{{{summary}}}</td>
			</tr>
		{{/fields}}
	</table>
{{/fieldsInfo}}

{{>partials/dotnet/typeContent}}

{{>partials/dotnet/moniker}}

{{>partials/dotnet/typeFooter}}
