name: build
on:
  pull_request:
    branches:
    - main
    - develop
    - feature/*
  push:
    branches:
    - main
    - develop
    - feature/*

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: true
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - run: yarn
    - run: yarn build
    - run: yarn diff
      if: ${{ matrix.os == 'windows-latest' }}
    - uses: actions/upload-artifact@v2
      if: ${{ failure() }}
      with:
        name: screenshots-${{ matrix.os }}
        path: tests/screenshots
